
/* phone */
@media(max-width:767px){
	.d-none{
		display:none;
	}
	
	.container{
		width:100%;	 
	}
	
	.container2{
		width:100%;
		padding:0;
	}
	.fxend{
    justify-content: end;
	}
	
	.content_sec{
		text-align:center;
	}
	.video_content{
		padding:0;
	}
	
	
	.testimonials_sec img{
		width:18%;
	}
	#banner_container{
		height:600px;
	}
	#faq_container{
		padding:10px 10px;
	}
	#team_container{
		padding: 10px 5px;
	}
	
	#portfolio_container{
		padding: 10px 5px;
	}
	#contact_container{
		padding:10px 0;
	}
	
	#call_container{
		padding:10%;
	}
	
	
	.d-block{
		display:block;
	}
	
	.size{
		width:100%;
	}
.col-sm-1{
	width:8.33%;
	padding:0 5px;
}

.col-sm-2{
	width:16.66%;
	padding:0 5px;
}
.col-sm-3{
	width:25%;
	padding:0 5px;
}


.col-sm-4{
	width:33.33%;
	padding:0 5px;
}


.col-sm-5{
	width:41.66%;
	padding:0 5px;
}


.col-sm-6{
	width:50%;
	padding:0 5px;
}
.coll{
	width:100%;
}

.col-sm-7{
	width:58.33%;
	padding:0 5px;
}


.col-sm-8{
	width:66.66%;
	padding:0 5px;
}


.col-sm-9{
	width:75%;
	padding:0 5px;
}


.col-sm-10{
	width:83.33%;
	padding:0 5px;
}


.col-sm-11{
	width:91.66%;
	padding:0 5px;
}


.col-sm-12{
	width:100%;
	padding:0 5px;
}	


}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
 /* tab */
@media (min-width:768px) and (max-width:999px){
	.d-none{
		display:none;
	}
	
	.d-block{
		display:block;
	}
	
	.content_sec {
		text-align:center;
	}
	
	.contain2{
		width:100%;
	}
	
	x#banner_container{
		height:650px;
	}
	#contact_container{
		padding:0 20px;
	}
	.fxend{
    justify-content: end;
	}
	
	
	.testimonials_sec img{
		width:13%;
	}
	
.col-md-1{
	width:8.33%;
	padding:0 15px;
}

.col-md-2{
	width:16.66%;
	padding:0 15px;
}
.col-md-3{
	width:25%;
	padding:0 15px;
}


.col-md-4{
	width:33.33%;
	padding:0 15px;
}


.col-md-5{
	width:41.66%;
	padding:0 15px;
}


.col-md-6{
	width:50%;
}
.coll{
	width:100%;
}

.col-md-7{
	width:58.33%;
	padding:0 15px;
}


.col-md-8{
	width:66.66%;
	padding:0 15px;
}


.col-md-9{
	width:75%;
	padding:0 15px;
}


.col-md-10{
	width:83.33%;
	padding:0 15px;
}


.col-md-11{
	width:91.66%;
	padding:0 15px;
}


.col-md-12{
	width:100%;
}


}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* lap */

@media(min-width:999px){
	.d-block{
		display:block;	
		}
}

